* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.conteiner {
  min-height: 100vh;
  padding: 0 10px;
  display: grid;
  place-content: center;
  font-family: 'Hanken Grotesk', sans-serif;
}
